body {
  margin: 0;
  background-color: #EEEBD3;
}

body #navigation {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: 600;
  background-color: #437C90;
}

body #navigation h2 {
  margin: 0;
}

body #btnsBox {
  margin: auto;
  text-align: center;
}

body #btnsBox button {
  margin: 10px 20px;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  background-color: #F7C548;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px 0px #b18c22;
  -moz-box-shadow: 4px 4px 4px 0px #b18c22;
  box-shadow: 4px 4px 4px 0px #b18c22;
  border: none;
}

body #btnsBox button:hover {
  animation: buttonHover .05s linear both;
}

body .valueCard {
  display: flex;
  width: 500px;
  border-radius: 5px;
  background-color: #F7C548;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px 0px #b18c22;
  -moz-box-shadow: 4px 4px 4px 0px #b18c22;
  box-shadow: 4px 4px 4px 0px #b18c22;
  border: none;
  margin: 50px auto;
}

body .valueCard form {
  width: 100%;
}

body .valueCard form p {
  width: 100%;
  text-align: center;
}

body .valueCard form p label {
  width: 50%;
}

body .valueCard form p input {
  width: 40%;
  border-radius: 10px;
  background-color: #EEEBD3;
}

body .valueCard form #addCard {
  border: 1px solid black;
}

@keyframes buttonHover {
  from {
    background-color: #F7C548;
  }
  to {
    background-color: #f8b817;
  }
}
